<% provide(:title, "Help") %>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
  	<div class="page-header">
  		<h2>Help 
  		  <%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
  		  <small> &nbsp; &mdash; the Gift GardenHelp Guide</small>
  		</h2>
  	</div>
  </div>
</div>

<div class="row help-section">
  <div class="col-xs-offset-1 col-xs-10">
    <p>
      Welcome to Gift Garden!
    </p>
    <p>
      For additional assistance in using The Garden, please consult our Help Guide.
    </p>
    <p class="help-guide">
      <a href="/GiftGardenHelpGuide.pdf" target="_blank">Gift Garden Help Guide (PDF)</a>
    </p>
    <p style="padding-top:40px;">
      If you're still stumped, please email Prof Bill at <a href="mailto:wtkrieger@noctrl.edu">wtkrieger@noctrl.edu</a>.
    </p>
  </div>
</div>

<!--
<div class="row col-xs-offset-2">
  <p>Welcome To Gift Garden!  In order to assist you with using this tool, we have provided a downloadable PDF guide to assist you.</p>
  <br />
  <p class><a href="/GiftGardenHelpGuide.pdf" target="_blank">Please click here to download our PDF Help Guide</a></p>
</div>
-->
