<% provide(:title, "New Donor") %>
<% provide(:button_text, "Create") %>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
  	<div class="page-header">
  		<h2 class="page-header-surf">New Donor
    		<%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
  		  <small>
  		    &nbsp; &mdash; create a new Donor
  		  </small>
  	  </h2>
    </div>   <!-- page-header -->
  </div>
</div>   <!-- row -->

<%=render 'form' %>
