<% provide(:title, "New User") %>
<% provide(:button_text, "Create") %>
<div class="row">
  <div class="col-xs-offset-1 col-sm-10">
  	<div class="page-header">
  	  <%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
  		<h2>New User 
  		  <small>
  		    &nbsp; &mdash; create a new User
  		  </small>
  		</h2>
  	</div>
  </div>
</div>
<div class="row">
  <%=render 'form' %>
</div>
