<% provide(:title, "New Gift") %>
<% provide(:button_text, "Create") %>
<div class="row">
  <div class="col-xs-offset-1 col-sm-10">
  	<div class="page-header">
  		<h2>New Gift 
  		  <%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
  		  <small>&nbsp; &mdash; create one or many new Gifts.
  		    New Gifts must have an Activity and Donor.
  		  </small>
  		</h2>
  	</div>
  </div>
</div>

<%=render 'form' %>
