<% provide(:title, "Edit Activity") %>
<% provide(:button_text, "Update") %>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
  	<div class="page-header">
  		<h2 class="page-header-surf">Edit Activity
  		  <%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
  		  <small>
  		    &nbsp; &mdash; update this Activity or surf its Gifts
  		  </small>
  		</h2>
  	</div>   <!-- page-header -->
  </div>
</div>   <!-- row -->

<div class="row">
  <div class="col-xs-offset-4 col-xs-6">
    <div class="text-right">
      <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span>
    <span class="icon-donna-text">
		  <%=link_to "Add New Gift for this Activity", new_gift_path(activity_id: @activity.id) %>
		</span>
    </div>
  </div>
</div>   <!-- row -->

<div class="row">
  <div class="col-xs-offset-4 col-xs-6 text-right">
    Surf to: &nbsp; 
    <%=link_to "All Gifts for this Activity", "/gifts?utf8=✓&activity_id=" + @activity.id.to_s + "&donor_id=&timeframe=All&sortby=&pageby=&commit=GO" %>
  </div>
</div>

<%= render 'form' %>
