<% provide(:title, "New Activity") %>
<% provide(:button_text, "Create Activity") %>
<div class="row">
  <div class="col-xs-offset-1 col-sm-10">
  	<div class="page-header">
  		<h2 class="page-header-surf">New Activity
  		  <%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
  		  <small>
  		    &nbsp; &mdash; create a new Activity
  		  </small>
  		</h2>
  	</div>   <!-- page-header -->
  </div>
</div>   <!-- row -->

<%=render 'form' %>
